* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(245, 245, 245);
}

main {
  margin: auto;
  display: flex;
}

.main-area {
  margin: auto;
}

nav {
  width: 200px;
  height: auto;
  margin-right: 3px solid rgb(77, 77, 77);
}

nav h2 {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
  padding: 8px;
  background-color: rgba(24, 110, 223, 0.767);
}

nav ul {
  list-style: none;
}

nav li {
  color: rgb(77, 77, 77);
}

nav a {
  text-decoration: none;
  color: rgb(77, 77, 77);
  padding-left: 40px;
  line-height: 55px;
  display: block;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.menu-icon {
  font-size: 1.5rem;
  margin-bottom: -5px;
  margin-right: 8px;
  color: rgb(77, 77, 77);
}

.home {
  background: url("./components/home.jpg") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.footer p {
  text-align: center;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.work-layout {
  margin: auto;
  margin-top: 150px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.card {
  padding: 17px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  z-index: 1;
}

.card h3,
p {
  text-align: center;
}

.card h3 {
  text-decoration: underline;
}

.card img {
  width: 350px;
  margin: 20px 0;
}

.card:hover {
  transform: scale(1.05);
}

.shadow {
  box-shadow: inset 0 -3rem 3rem rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 3rem;
  border-radius: 10px;
}

.contact-form input,
textarea,
button {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  outline: none;
}

.contact-form button {
  margin: auto;
  border: 1px solid;
}

.curriculum-layout {
  width: 794px;
  margin: auto;
}

.curriculum {
  padding: 0 30px;
  display: flex;
  gap: 30px;
}

.curriculum .left {
  width: 300px;
  /* margin: auto; */
}

.curriculum .line {
  border: 1px solid;
  margin-right: 25px;
}

section {
  margin: 50px 0;
}

h3 {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.print-btn {
  position: 0 right;
}

.normal {
  color: rgb(77, 77, 77);
}

.active {
  color: rgb(0, 0, 0);
}
